<!DOCTYPE html>
<html>
<head>
  <title>StripeWebhooks</title>
  <%= stylesheet_link_tag    "stripe_webhooks/application", media: "all" %>
  <%= javascript_include_tag "stripe_webhooks/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
